* {
  box-sizing: border-box;
}

header {
  background-color: #1E1F29;
}

.head {
  display: flex;
  color: #FAFAFA;
  gap: 231px;
  padding: 51px 146px;
  align-items: center;
}

.logo {
  display: flex;
  gap: 20px;
  padding: 8px 16px;
}

.logo-img {
font-size: 42px;
}

.pink {
  width: 12px;
  height: 48px;
  object-fit: contain;
}

.fiolet{
  width: 12px;
  height: 36px;
  object-fit: contain;
}


.photos img {
  width: 458px;
  height: 258px;
}

.name {
  font-size: 24px;
  color: #FAFAFA;
  width: 182px;
  line-height: 52px;
}

.head ul {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 18px;
  align-items: center;
  
}

.curs {
  border: #4D5064 solid 1px;
  border-radius: 8px;
   padding: 8px 16px;
}


.user {
  display: flex;
  font-size: 18px;
  gap: 8px;
}

.user img {
  width: 24px;
  height: 24px;
}

.about-school {
  display: flex;
  flex-direction: column;
}

.curs-devops {
  font-size: 54px ;
  width: 544px;
  background-image: linear-gradient(45deg, #D77BE5, #BE63E5, #6C38CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: flex;
  gap: 32px;
}

.fff {
  background-color: #1E1F29;
  border: solid 1px #4D5064;
  color: #FAFAFA;
  padding: 16px 36px;
  border-radius: 10px;
}

.fff:hover {
  background-color: #6C38CC;
}

.cyrsa {
  flex-direction: column;
  display: flex;
}

.pay {
  display: flex;
  gap: 218px;
}

.photos {
  flex-direction: column;
 position: relative;
 object-fit: cover;
}

.photos button {
  padding: 16px 32px;
  position: absolute;
  left: 24px;
  bottom: 24px;
  background-color:#1E1F29;
  color: #FAFAFA;
  border: none;
  border-radius: 10px;
}

.photos button:hover {
  background-color: #6C38CC;
}

.user:hover {
  transform:scale(1.2);
}
.user {
  transition: transform 0.3s ease;
}

@keyframes my-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

.logo {
  animation: my-animation 2s infinite;}